.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:.55rem;
    border-top: 1px solid #eee;
    font-size: 14px;
    .footer_Item{
        text-align: center;
    }
}