*{
    padding: 0;
    margin : 0;
}
a{
    text-decoration: none;
    color : #ccc
}
li{
    list-style-type: none;
}
html{
    font-size: 100px;
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 16px;
}
#root{
    height: 100%;
}